<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-branding></app-branding>

        <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        >
          <img
            src="/assets/images/backgrounds/password-lottery-security-hero.png"
            alt="Candado protegiendo boletos y números de un sorteo"
            style="width: 100%; max-width: 700px; border-radius: 24px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0 d-flex justify-content-center">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9">
            <h4 class="f-w-700 f-s-24 m-0">¿Perdiste tu password?</h4>
            <span class="f-s-14 d-block f-s-14 m-t-8">
              Ingresa el número de WhatsApp asociado a tu cuenta y te enviaremos un PIN para cambiar tu password.
             
              
            
            </span>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">

              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">
                WhatsApp (10 dígitos)
                @if (!pinSent) {
                <a style="float:right;margin-right:10px" (click)="setPIN()" class="text-decoration-none text-secondary f-w-500 f-s-14">
                  Ya tengo un PIN
                </a>
              }
              </mat-label>
            

              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="tel" inputmode="numeric" pattern="[0-9]*" maxlength="10" formControlName="whatsApp" />
                @if(f['whatsApp'].touched && f['whatsApp'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  <div class="text-error">Ingresa los 10 dígitos de tu WhatsApp.</div>
                </mat-hint>
                }
              </mat-form-field>


              @if (pinSent) {
                <mat-label class="f-s-14 f-w-600 m-t-16 d-block">Código PIN</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="text" inputmode="numeric" pattern="[0-9]*" formControlName="pin" maxlength="6" />
                  @if (f['pin'].touched && f['pin'].invalid) {
                    <mat-error>El PIN debe contener exactamente 6 números.</mat-error>
                  }
                </mat-form-field>
              
                <mat-label class="f-s-14 f-w-600 m-t-16 d-block">Nuevo password</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput [type]="newPasswordVisible ? 'text' : 'password'" formControlName="newPassword" autocomplete="new-password" />
                  <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    tabindex="-1"
                    [attr.aria-label]="newPasswordVisible ? 'Ocultar nuevo password' : 'Mostrar nuevo password'"
                    [attr.aria-pressed]="newPasswordVisible"
                    (click)="newPasswordVisible = !newPasswordVisible"
                  >
                    <mat-icon>{{ newPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  @if (f['newPassword'].touched && f['newPassword'].hasError('required')) {
                    <mat-error>Ingresa el nuevo password.</mat-error>
                  } @else if (f['newPassword'].touched && f['newPassword'].hasError('minlength')) {
                    <mat-error>El password debe tener al menos 8 caracteres.</mat-error>
                  }
                </mat-form-field>
              
                <mat-label class="f-s-14 f-w-600 m-t-16 d-block">Confirmar password</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput [type]="confirmPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" autocomplete="new-password" />
                  <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    tabindex="-1"
                    [attr.aria-label]="confirmPasswordVisible ? 'Ocultar confirmación de password' : 'Mostrar confirmación de password'"
                    [attr.aria-pressed]="confirmPasswordVisible"
                    (click)="confirmPasswordVisible = !confirmPasswordVisible"
                  >
                    <mat-icon>{{ confirmPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  @if (f['confirmPassword'].touched && f['confirmPassword'].hasError('required')) {
                    <mat-error>Confirma el nuevo password.</mat-error>
                  } @else if (f['confirmPassword'].touched && f['confirmPassword'].hasError('minlength')) {
                    <mat-error>La confirmación debe tener al menos 8 caracteres.</mat-error>
                  }
                </mat-form-field>
                @if (f['confirmPassword'].touched && form.hasError('passwordsMismatch')) {
                  <div class="text-error m-b-16">Los passwords no coinciden.</div>
                }
              }


              <button mat-flat-button color="primary" class="w-100" [disabled]="form.invalid">
                {{ pinSent ? 'Cambiar password' : 'Solicitar PIN' }}
              </button>


              <a
                [routerLink]="['/authentication/login']"
                mat-stroked-button
                color="primary"
                class="w-100 m-t-8"
              >
                Regresar a Login
              </a>
              <!-- input -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
