
@if(item.navCap && item.roles && item.roles.includes(userRole)){
<div mat-subheader class="nav-caption">
  {{ item.navCap }}
</div>
} 

@if(!item.navCap && !item.external && !item.twoLines && item.roles && item.roles.includes(userRole)) {
<a  mat-list-item
  (click)="onItemSelected(item)"
  [ngClass]="{
    'mat-toolbar mat-primary activeMenu': item.route
      ? router.isActive(item.route, true)
      : false,
    expanded: expanded,
    disabled: item.disabled
  }"
  class="menu-list-item">
 
  @if(item.flag) {
    <span class="routeIcon">
      <img
        [src]="item.flag"
        alt="flag"
        width="20"
        height="15"
        style="margin-right: 10px; border-radius: 2px"
      />
    </span>
  } @else {
    <i-tabler
      class="routeIcon"
      name="{{ item.iconName }}"
      matListItemIcon
    ></i-tabler>
  }

  
  <span class="hide-menu">{{ item.displayName | translate }}</span>
  @if(item.children && item.children.length) {
  <span class="arrow-icon" fxFlex>
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="item.expanded ? 'expanded' : 'collapsed'">
      expand_more
    </mat-icon>
  </span>
  } @if(item.chip) {
  <span>
    <span
      class="{{ item.chipClass }} p-x-8 p-y-4 item-chip f-w-500 rounded-pill "
      >{{ item.chipContent }}</span
    >
  </span>
  }
</a>
}

<!-- children -->
@if(item.expanded) {
  <div class="submenu-scroll">
    @for(child of item.children; track child) {
      <app-nav-item
        [item]="child"
        (click)="onSubItemSelected(child)"
        [depth]="depth + 1"
      ></app-nav-item>
    }
  </div>
}